/*==GENERAL STYLES==*/

* {
  box-sizing: border-box;
}

h1,h2,h3,ul, p, img, blockquote {
  margin-bottom: 1.5rem;
}

section {
  width: 95%;
  margin: 1.5rem auto;
  padding: .5rem 1rem;
  text-align: center;
}

body {
  background: url(assets/wedding-landing-background.png) repeat center;
  font-family: Mulish, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #444349;
}

h1, h2 {
  font-family: 'Great Vibes', cursive;
  text-align: center;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #bd806e;
}

a:hover {
  color: #eda087;
  transition: color .15s ease-in-out;
}
/*dark sections*/

.dark {
  background-color: hsla(100,0%,0%,.6);
  color: #d2ba87;
}

/*==HEADER STYLES==*/

.cover {
  background: url(assets/wedding-landing-newcover.jpg) no-repeat center /cover;/*A background tulajdonságban van egy új rész: 70% center/cover. Ezt a rövidítést (shorthand) akkor használjuk, amikor egyszerre szeretnénk megadni a háttér méretét és pozícióját. Az első része (70% center) adja meg a kép pozícióját. Jelen esetben ez kissé balra mozgatja a fotót az X tengelyen, hogy a menyasszony feje ne lógjon ki a képernyőről.*/
  height: 100vh;
  width: 100vw;
  color: hsla(0,0%,100%,.9);
  text-align: center;
  display: table; 
  
  
}

.headline-wrapper {
  display:        table-cell;
  vertical-align: bottom;
  
}

.headline-text {
  margin: 0 auto;
  width:  100%;
  padding: .625rem;
  color: hsla(0,0%,100%,.9);
  background-color: hsla(100,0%,0%,.6);
}

.tagline, .date {
  font-size: 1.15rem;
  letter-spacing: .15rem;
  font-family: 'Libre Baskerville', serif;
}

.tagline::after {
  display: block;
  content: "";
  height: 1px;
  background-color: #fff;
  width: 12.5rem;
  margin: .5rem auto;
       
}

h1 {
  font-size: 3.15rem;
  color: #d2ba87;
  margin-bottom: 0;
}
.date {
  vertical-align: middle;
}

.date::before, .date::after {
  display: inline-block;
  content:"";
  height: 1px;
  width: 1.5rem;
  background-color: #fff;
  vertical-align: middle;
  margin: .5rem;
}

/*==LOCATIONS STYLES==*/


.sites img {
  width: 8rem;
}

/*.sites div {
  font-family: Mulish, sans-serif;
  
}*/

.sites::after {
  display: block;
  content: "";
  height: .1875rem;
  width:   50vw;
  margin: 1.5rem auto;
  background-color: #444349;
}

/*==PROGRAM STYLES==*/

.program {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  Justify-content: flex-start;
  width:       100vw;
  text-align:  left;
 /* font-family: Mulish, sans-serif;*/
}

.program-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.program h2 {
  margin-top: 1rem;
  text-align: center;
}

.program blockquote {
  font-style: italic;
}

.program ul {
  letter-spacing: .025rem;
}

/*==GIFTS STYLES==*/

.gifts img {
  width: 8rem;
}

.gifts .answer:last-child {
  margin-bottom: 0;
}

/*==Q & A STYLES==*/

.Q-A {
  width: 100vw;
}

.faq h3 {
  text-align: left;
}

.Q-A h2 {
  margin-top: 1rem;
}

.question, .answer {
  /*font-family: Mulish, sans-serif;*/
  text-align: left;
  font-size: 1.1rem;
}

.question {
  font-weight: bold;
  margin-bottom: .5rem ;
}

.faq p:last-child::after {
  display: block;
  content:"";
  height: .1875rem;
  width: 50vw;
  margin: 1.5rem auto;
  background-color: #d2ba87;
}

/*==FOOTER STYLES==*/

footer {
  background-color: #606060;
  color: #fff;
  width: 100vw;
  height: 10vh;
  /*font-family: Mulish, sans-serif;*/
  font-size: .9rem;
  text-align: center;
  display: table
}

.footer-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: .5rem 1rem;
}

footer p {
  margin-bottom: 0;
}

footer small {
  line-height: 1.5;
}

/*==SCREEN ADJUST==*/

/*header*/
@media (min-width: 768px){
  .tagline {
    text-transform: uppercase;
    font-size: 1.25rem;
  }
  
  h1 {
    font-size: 7rem;
  }
  
  .date {
    font-size: 1.25rem;
    }
  
  /*.headline-text {
    width: 50%;
    padding: 1.25rem;
    border-radius: 4px;
  }*/
  
  /*.cover {
    background: url(assets/wedding-landing-cover.jpg) no-repeat center/cover;
  }*/
}

/*locations*/
@media (min-width: 768px) {
  .sites {
    display: inline-block;
    width: 30%;
    padding: 1.5rem;
    margin: .5rem;
    vertical-align: top;
  }
  
  .sites::after {
    display: none;
  }
}

/*program*/
@media (min-width: 768px) {
.program-wrapper {
  width: 30vw;
  margin: 0 auto;
 }
}

/*Q & A*/
@media (min-width: 768px){
.faq {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  padding: 1.5rem;
  margin: .5rem;
}

  .faq p:last-child::after {
    display: none;
  }
}

/*footer*/
@media (min-width: 768px) {
  footer {
    min-height: 7vh;
  }
}