/*==GENERAL STYLES==*/

* {
  box-sizing: border-box;
}

h1,h2,h3,ul, p, img, blockquote {
  margin-bottom: 1.5rem;
}

section {
  width: 95%;
  margin: 1.5rem auto;
  padding: .5rem 1rem;
  text-align: center;
}

body {
  background: url(assets/wedding-landing-background.png) repeat center;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #444349;
}

h1, h2 {
  font-family: 'Great Vibes', cursive;
  text-align: center;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #bd806e;
}

a:hover {
  color: #eda087;
  transition: color .15s ease-in-out;
}
/*dark sections*/

.dark {
  background-color: hsla(100,0%,0%,.6);
  color: #d2ba87;
}

/*==HEADER STYLES==*/

.cover {
  background: url(assets/wedding-landing-cover.jpg) no-repeat 70% center/cover;/*A background tulajdonságban van egy új rész: 70% center/cover. Ezt a rövidítést (shorthand) akkor használjuk, amikor egyszerre szeretnénk megadni a háttér méretét és pozícióját. Az első része (70% center) adja meg a kép pozícióját. Jelen esetben ez kissé balra mozgatja a fotót az X tengelyen, hogy a menyasszony feje ne lógjon ki a képernyőről.*/
  height: 100vh;
  width: 100vw;
  color: hsla(0,0%,100%,.9);
  text-align: center;
  display: table; 
}

.headline-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.headline-text {
  margin: 0 auto;
  padding: .625rem;
  color: hsla(0,0%,100%,.9);
  background-color: hsla(100,0%,0%,.6);
}

.tagline, .date {
  font-size: 1.15rem;
  letter-spacing: .15rem;
}

.tagline::after {
  display: block;
  content: "";
  height: 1px;
  background-color: #fff;
  width: 12.5rem;
  margin: .5rem auto;
       
}

h1 {
  font-size: 3.15rem;
  color: #d2ba87;
  margin-bottom: 0;
}
.date {
  vertical-align: middle;
}

.date::before, .date::after {
  display: inline-block;
  content:"";
  height: 1px;
  width: 1.5rem;
  background-color: #fff;
  vertical-align: middle;
  margin: .5rem;
}

/*==LOCATIONS STYLES==*/

.locations h3 {
  font-size: 1.5rem;
}
.sites img {
  width: 8rem;
}

.sites div {
  font-family: Muli, sans-serif;
  letter-spacing: .1rem;
}

.sites::after {
  display: block;
  content: "";
  height: .1875rem;
  width: 25vw;
  margin: 1.5rem auto;
  background-color: #444349;
}

/*==PROGRAM==*/

.program {
  width: 100vw;
  text-align: left;
  font-family: Muli, sans-serif;
}

.program h2 {
  margin-top: 1rem;
}

.program blockquote {
  font-style: italic;
}